body {
  margin: auto;
  max-width: 1024px;
  display: none;
  FONT-FAMILY: "SEGOE UI", ARIAL
}

h1 {
  font-size: 155%;
  padding: 20px;
  border: 1px solid lightgrey;
  COLOR: WHITE;
  BACKGROUND: LINEAR-GRADIENT(TO BOTTOM RIGHT, #002D62,rgb(2, 60, 127))
}

em{
  margin-top: -20px;
  display: block;
}

h2 {
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding: 2px;
  color: #002D62;
}
.markdown code {
  background: #f0f0f0;
  color: #002D62;
  border-radius: 6px;
  padding: 2px;
}

.markdown pre {
  background: #f0f0f0;
  margin: 12px;
  border: 1px solid #ddd;
  padding: 20px 12px;
  border-radius: 6px;
}

.markdown pre:hover button {
  display: block;
}

.markdown pre button {
  display: none;
  position: relative;
  float: right;
  top: -16px
}

.markdown blockquote {
  background: #f0f0f0;
  border-left: 6px solid grey;
  padding: 8px
}

.markdown ins {
  color: #890604
}

.markdown rem {
  color: #198964
}

.toc ul {
  padding: 0 12px;
}

.toc h3 {
  color: #0057b7;
  border-bottom: 1px dotted grey
}

.toc .H1 {
  list-style-type: none;
  font-weight: 600;
  margin: 4px;
  background: #eee
}

.toc .H2 {
  list-style-type: none;
  font-weight: 600;
  margin: 4px;
}

.toc .H3 {
  margin-left: 2em;
}

.toc .H4 {
  margin-left: 4em
}

.toc .active {
  color: #0057b7
}

.toc li:hover {
  background: #f0f0f0
}

.markdown {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  th {
    text-align: left;
  }
  th:first-child {
    text-align: left;
    width: 70%;
  }

  th:last-child {
    text-align: right;
    width: 30%;
  }

  td {
    vertical-align: top;
    white-space: pre-wrap;
  }

  td:first-child {
    text-align: left;
    width: 50%;
  }

  td:last-child {
    text-align: right;
    width: 50%;
  }

}